.bg-gray{
    background: #f2f2f2;
}
.bottom .link-diamond{
    color: #2582eb !important;
}

.center{
    text-align: center !important;
}
.title-info{
    color: #FF0000;
}

.pro-content{
    margin: 10% 0;
}

.site-blocks-cover, .site-blocks-cover > .container > .row {
    min-height: 600px;
    height: calc(100vh);
}
.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;
}

.section-title-about {
    color: white;
    font-size: 56px;
    font-weight: 500;
    padding: 10px 100px;
    text-align: left;
}
.align-self-center {
    -ms-flex-item-align: center!important;
    -ms-grid-row-align: center!important;
    align-self: center!important;
    margin-top: 20%;
}
.title-red{
    font-size: 2rem;
    font-weight: 600;
}

.experience-banner{
    margin-top: 20%;
}

.experience-banner p{
    font-size: 1.2rem;
    font-weight: 600;
    max-width: 498px;
}

.mb-1{
    margin-bottom: 5%;
}

.mt-1{
    margin-top: 5%;
}
.center{
    text-align: center;
    margin: auto;
    display: block;
}
.info-banner{
    max-width: 600px;
    margin: auto;
}
.orange-icon{
    font-size: 8rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF7700), to(#FF0000));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.method-icon{
    border: 1px solid #c5bbbb;
    background: #fff;
    border-radius: 16px;
    box-shadow: 2px 3px 6px #b3afaf;
    -webkit-box-shadow: 2px 3px 13px #b3afaf;
    -moz-box-shadow: 0 0 10px 0 rgba(88, 96, 109, .14);
    padding: 23px !important;
    padding-top: 14% !important;
    height: 462px;
}

.post.style3 .entry-post .entry-author {
    font-weight: 800;
    margin: 6%;
}
.method-montahe {
    border: 1px solid #c5bbbb;
    background: #fff;
    border-radius: 16px;
    box-shadow: 2px 3px 6px #b3afaf;
    -webkit-box-shadow: 2px 3px 13px #b3afaf;
    -moz-box-shadow: 0 0 10px 0 rgba(88, 96, 109, .14);
    padding: 4%;
}
.method-title{
    color: #ff2000;
    font-weight: 800;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 8px;
    font-size: 1.2rem;
}
.method-fix{
    margin-top: 4%;
}
.expe-subt{
    font-weight: 800;
    font-size: 1.3rem;
}
.fix-experience{
    margin-left: 8.333%;
}

.experience-icon{
    background: -webkit-gradient(linear, left top, left bottom, from(#FF7700), to(#FF0000));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    height: 42px;
    line-height: 42px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -22px;
    font-size: 1.2rem;
    transition: color 300ms;
    font-size: 3rem;
}
.experience-points{
    display: block;
    line-height: 2.4rem;
    padding: 0px 1.5rem 0 60px;
    position: relative;
    border-radius: .25rem;
    white-space: nowrap;
    transition: all .2s;
    margin: 1.5rem 0;
}
.pt-1{
    padding-top: 10%;
}
.pl-1{
    padding-left: 10%;
}
.info-form{
    max-width: 437px;
}
.info-form .form-control{
    border-radius: 25px;
}

.team-banner{
    background: url(../img/exp_team.jpg);
    padding: 50px 0px;
}
.team-content .content{
    margin: auto;
    display: block;
    text-align: center;
    margin: 4% 0;
}
.team-content .name{
    color: #FF0000;
    margin: 4% 0;
}

.team-content .position{
    font-weight: 600;
}
.fix-top{
    margin-top: 5%;
}
.school-icons{
    display:inline-block;
    float: left;
    margin: 2%;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF7700), to(#FF0000));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: -22px;
    font-size: 1.2rem;
    transition: color 300ms;
    font-size: 4rem;
    margin: auto;
    display: block;
    width: 112px;
}
.school-icons-content{
    width: 112px;
    float: left;
    text-align: center; 
}

.school-title{
    color: #FF0000;
    margin: 4% 0;
}

.consult-icon {
    border: 1px solid #c5bbbb;
    background: #fff;
    border-radius: 16px;
    box-shadow: 2px 3px 6px #b3afaf;
    -webkit-box-shadow: 2px 3px 13px #b3afaf;
    -moz-box-shadow: 0 0 10px 0 rgba(88, 96, 109, .14);
    padding: 23px !important;
    padding-top: 14% !important;
}

.consult-icon-info {
    border: 1px solid #c5bbbb;
    background: #fff;
    border-radius: 16px;
    box-shadow: 2px 3px 6px #b3afaf;
    -webkit-box-shadow: 2px 3px 13px #b3afaf;
    -moz-box-shadow: 0 0 10px 0 rgba(88, 96, 109, .14);
    padding: 23px !important;
    padding-top: 14% !important;
}

.form-content{
    background: white;
    border-radius: 25px;
    padding: 32px;
    text-align: center;
}
.form-contact {
    max-width: 437px;
    margin: auto;
}

.form-contact input {
    border: none;
    border-bottom: 2px solid #b9b9b9
}

.fix-aling-center{
    margin-top: 14% !important;
}

.mainnav ul li a.active {
    border-bottom: 2px solid #ab121c !important;
}
.fix-top-10 {
    margin-top: 20%;
}

.whatsappBlock a {
    display: inline-block;
    height: 62px;
    width: 252px;
    background-image: url(../img/whatsapp.png);
    color: #fff !important;
    font-weight: bold;
    background-repeat: no-repeat;
    padding-left: 62px;
    padding-top: 14px;
}

.asagiSabit {
    position: fixed;
    bottom: 18px;
    right: 26px;
    z-index: 999;
}

.fix-size-consultancy{
    width: 20% !important;
}
.fix-size-consultancy{
    cursor: pointer;
}
.d-none{
    display:none;
}

.page-content h2 {
    text-align: left;
    color: #fff;
    margin-bottom: 4px;
    line-height: 58px;
    margin-left: -2px;
}

.fix-blog-header{
    background-color: #363636;
    padding-top: 4%;
}

.fixed{
    position: fixed;
    z-index: 999;
}

.modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}



.flat-button-min {
    width: 250px;
    color: white;
}
#dontShow{
    text-align: center;
    display: block;
}