@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cx8ct0');
  src:  url('fonts/icomoon.eot?cx8ct0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cx8ct0') format('truetype'),
    url('fonts/icomoon.woff?cx8ct0') format('woff'),
    url('fonts/icomoon.svg?cx8ct0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_cons_5 .path1:before {
  content: "\e9d7";
  color: rgb(255, 155, 155);
}
.icon-icon_cons_5 .path2:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_5 .path3:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_5 .path4:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_5 .path5:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_1 .path1:before {
  content: "\e900";
  color: rgb(255, 155, 155);
}
.icon-icon_cons_1 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_1 .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_1 .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_1 .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_1 .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_1 .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_1 .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_1 .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_1 .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_1 .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_2 .path1:before {
  content: "\e90b";
  color: rgb(255, 155, 155);
}
.icon-icon_cons_2 .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_2 .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_2 .path4:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_2 .path5:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_2 .path6:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_3 .path1:before {
  content: "\e911";
  color: rgb(255, 155, 155);
}
.icon-icon_cons_3 .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_3 .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_3 .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_3 .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_3 .path6:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_3 .path7:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_3 .path8:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_3 .path9:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_3 .path10:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_3 .path11:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_3 .path12:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_3 .path13:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_cons_3 .path14:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_4 .path1:before {
  content: "\e91f";
  color: rgb(255, 155, 155);
}
.icon-icon_cons_4 .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_4 .path3:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_cons_4 .path4:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_escuela_1:before {
  content: "\e923";
}
.icon-icon_escuela_2:before {
  content: "\e924";
}
.icon-icon_escuela_3:before {
  content: "\e925";
}
.icon-icon_escuela_4:before {
  content: "\e926";
}
.icon-icon_escuela_5:before {
  content: "\e927";
}
.icon-icon_escuela_6:before {
  content: "\e928";
}
.icon-icon_escuela_7:before {
  content: "\e929";
}
.icon-icon_meto_1 .path1:before {
  content: "\e92a";
  color: rgb(255, 155, 155);
}
.icon-icon_meto_1 .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(112, 112, 112);
}
.icon-icon_meto_1 .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path4:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path5:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path6:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path7:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path8:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path9:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path10:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path11:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path12:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path13:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path14:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path15:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path16:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path17:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path18:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path19:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path20:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path21:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path22:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path23:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path24:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path25:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path26:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path27:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path28:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path29:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path30:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_meto_1 .path31:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_org:before {
  content: "\e949";
}
.icon-icon_school:before {
  content: "\e94a";
}
.icon-icon_teatro_1 .path1:before {
  content: "\e94b";
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_1 .path2:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_1 .path3:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_1 .path4:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_1 .path5:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_1 .path6:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_1 .path7:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_1 .path8:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_1 .path9:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_1 .path10:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_1 .path11:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_1 .path12:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_1 .path13:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_1 .path14:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_1 .path15:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_1 .path16:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_1 .path17:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_1 .path18:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_1 .path19:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_2 .path1:before {
  content: "\e95e";
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_2 .path2:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(189, 219, 255);
}
.icon-icon_teatro_2 .path3:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_2 .path4:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_2 .path5:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_2 .path6:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_2 .path7:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_2 .path8:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_2 .path9:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_2 .path10:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_2 .path11:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_2 .path12:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_2 .path13:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_2 .path14:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_2 .path15:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_2 .path16:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_2 .path17:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path1:before {
  content: "\e96f";
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_3 .path2:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_3 .path3:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_3 .path4:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_3 .path5:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path6:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path7:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path8:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path9:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path10:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path11:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path12:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path13:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path14:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path15:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path16:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path17:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path18:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path19:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path20:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path21:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path22:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path23:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path24:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path25:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path26:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path27:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path28:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path29:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path30:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path31:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path32:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_3 .path33:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_4 .path1:before {
  content: "\e990";
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_4 .path2:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_4 .path3:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_4 .path4:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_4 .path5:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_4 .path6:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_4 .path7:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_4 .path8:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_5 .path1:before {
  content: "\e998";
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_5 .path2:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_5 .path3:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_5 .path4:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_5 .path5:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_5 .path6:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_5 .path7:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_5 .path8:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_5 .path9:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_5 .path10:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_5 .path11:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_5 .path12:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_5 .path13:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_5 .path14:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon_teatro_5 .path15:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_5 .path16:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_5 .path17:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon_teatro_5 .path18:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-05 .path1:before {
  content: "\e9aa";
  color: rgb(255, 155, 155);
}
.icon-icon-05 .path2:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-05 .path3:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-05 .path4:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-05 .path5:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-05 .path6:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-05 .path7:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-05 .path8:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-05 .path9:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-05 .path10:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-05 .path11:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-05 .path12:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-05 .path13:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-05 .path14:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-05 .path15:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-05 .path16:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-07 .path1:before {
  content: "\e9ba";
  color: rgb(255, 155, 155);
}
.icon-icon-07 .path2:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-07 .path3:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-07 .path4:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-07 .path5:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-07 .path6:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-07 .path7:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-09 .path1:before {
  content: "\e9c1";
  color: rgb(255, 155, 155);
}
.icon-icon-09 .path2:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-09 .path3:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-09 .path4:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-09 .path5:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-09 .path6:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-09 .path7:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-09 .path8:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-09 .path9:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-09 .path10:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-09 .path11:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-09 .path12:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-09 .path13:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-09 .path14:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(255, 155, 155);
}
.icon-icon-09 .path15:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-09 .path16:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-09 .path17:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-09 .path18:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-09 .path19:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-09 .path20:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-09 .path21:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-09 .path22:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
